{# src/appiwebBundle/Resources/views/Advert/edittrick.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ asset('Assets/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('Assets/css/style.css') }}" />
        <title>Edit Trick</title>
        {{ include("appliwebBundle:Advert:layout.html.twig") }}
    </head>
    <body>
      <div class="container">
      <p>

        <h1>Edite cette astuce gros :</h1>
        <div class="well">
          {% form_theme form 'bootstrap_3_layout.html.twig' %}
          {{ form(form) }}
        </div>




        </p>
        </div>
        {{ include("appliwebBundle:Advert:footer.html.twig") }}
    </body>
</html>
