{# src/appiwebBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <!-- titre -->
  <title>Cat list</title>
  <!-- menu -->
  {{ include("appliwebBundle:Advert:layout.html.twig") }}

</head>
<body>
  <!-- container -->
  <div class="container">

    <p>
      <!-- onglet -->
      <div class="tabbed_area">
        <ul class="nav nav-tabs">
          <!-- lien -->
          <li class="active"><a data-toggle="tab" href="#content_1">Cat</a></li>
          <li><a data-toggle="tab" href="#content_2">Trick</a></li>
        </ul>
        <!-- onglet1 -->
        <div class="tab-content">
          <div id="content_1" class="tab-pane fade in active">
            <!-- tableau -->
            <table class="table table-bordered table-striped table-condensed">
              <!-- en tete -->
              <thead>
                <tr>
                  <!-- colone1 -->
                  <th>Image</th>
                  <!-- colone2 -->
                  <th>Nom</th>
                  <!-- colone3 -->
                  <th>Nom </th>
                  <!-- colone4 -->
                  <th>Description</th>
                  <!-- colone5 -->
                  <th>Personality</th>
                  <!-- colone6 -->
                  <th>Level</th>
                  <!-- colone7 -->
                  <th>Memento</th>
                  <!-- colone8 -->
                  <th>Edit</th>
                </tr>
              </thead>
              <!-- debut du body -->
              <tbody>
                <!-- affichage de tous les chats non publié -->
                {% for list in listCat %}
                <tr>
                  <!-- colone1 -->
                  <td>&nbsp<a class="fancybox" href="Assets/Image/{{ list.frenchname }}.png" data-fancybox-group="gallery" title="{{ list.frenchname }}"><img src="Assets/Image/{{ list.frenchname }}.png" alt="{{ list.frenchname }}" style="width:62px;height:45px;"/></a>&nbsp</td>
                  <!-- colone2 -->
                  <td>&nbsp<a class="btn btn-info" href="infocat?chat={{ list.frenchname }}" role="button">{{ list.frenchname }} </a>&nbsp</td>
                  <!-- colone3 -->
                  <td>&nbsp{{ list.japanesename }}&nbsp</td>
                  <!-- colone4 -->
                  <td>&nbsp{{ list.description }}&nbsp</td>
                  <!-- colone5 -->
                  <td>&nbsp{{ list.personality }}&nbsp</td>
                  <!-- colone6 -->
                  <td>&nbsp{{ list.level }}&nbsp</td>
                  <!-- colone7 -->
                  <td>&nbsp<a class="fancybox" href="Assets/Image/Memento/{{ list.frenchname }}.png" data-fancybox-group="gallery" title="{{ list.frenchname }}"><img src="Assets/Image/Memento/{{ list.frenchname }}.png" alt="{{ list.frenchname }}" style="width:62px;height:45px;"/></a>&nbsp</td>
                  <!-- colone8 -->
                  <td>
                    <!-- edit -->
                    <a class="btn btn-success" href="nopublish?catid={{ list.id }}" role="button">Publish</a>
                    <!-- delete -->
                    <a class="btn btn-danger" href="nopublish?catidrem={{ list.id }}" role="button">Delete</a></td>
                  </tr>
                  {% endfor %}
                  <!-- fin du body -->
                </tbody>
                <!-- fin du tableau -->
              </table>
              <!-- fin de l'onglet 1 -->
            </div>
            <!-- onglet2 -->
            <div id="content_2" class="tab-pane fade">
              <!-- tableau -->
              <table class="table table-bordered table-striped table-condensed">
                <!-- entete -->
                <thead>
                  <tr>
                    <!-- colone1 -->
                    <th>Image</th>
                    <!-- colone2 -->
                    <th>Cat name</th>
                    <!-- colone3 -->
                    <th>Trick</th>
                    <!-- colone4 -->
                    <th>Post by</th>
                    <!-- colone5 -->
                    <th>Edit</th>
                  </tr>
                </thead>
                <!-- debut du body -->
                <tbody>
                  <!-- parcourt la liste des astuce et les affiche -->
                  {% for list in listTrick %}
                  <tr>
                    <!-- affiche le chat correspondant a l'astuce -->
                    {% for cat in listCat2 %}
                    {% if list.idcat == cat.id %}
                    <!-- colone1 -->
                    <td>&nbsp<a class="fancybox" href="Assets/Image/{{ cat.frenchname }}.png" data-fancybox-group="gallery" title="{{ cat.frenchname }}"><img src="Assets/Image/{{ cat.frenchname }}.png" alt="{{ cat.frenchname }}" style="width:62px;height:45px;"/></a>&nbsp</td>
                    <!-- colone2 -->
                    <td>&nbsp{{ cat.frenchname }}&nbsp</td>
                    {% endif %}
                    {% endfor %}
                    <!-- colone3 -->
                    <td>&nbsp{{ list.trickdescription }}&nbsp</td>
                    <!-- affiche l'editeur de l'astuce -->
                    {% for user in listUser %}
                    {% if list.iduser == user.id %}
                    <!-- colone4 -->
                    <td>&nbsp{{ user.username }}&nbsp</td>
                    {% endif %}
                    {% endfor %}
                    <!-- colone5 -->
                    <td>
                      <!-- edit -->
                      <a class="btn btn-success" href="nopublish?trickid={{ list.id }}" role="button">Publish</a>
                      <!-- delete -->
                      <a class="btn btn-danger" href="nopublish?trickidrem={{ list.id }}" role="button">Delete</a></td>
                    </tr>
                    {% endfor %}
                    <!-- fin du body -->
                  </tbody>
                  <!-- fin de la talbe -->
                </table>
                <!-- fin des onglets -->
              </div>
            </div>
          </p>
        </div>
      </div>
      <!-- footer -->
      {{ include("appliwebBundle:Advert:footer.html.twig") }}
    </body>

    </html>
