{# src/appiwebBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <!-- titre -->
  <title>User</title>
  <!-- menu -->
  {{ include("appliwebBundle:Advert:layout.html.twig") }}

</head>
<body>
  <!-- container -->
  <div class="container">
    <p>
      <!-- tableau -->
      <table class="table table-bordered table-striped table-condensed">
        <!-- en tete -->
        <thead>
          <tr>
            <!-- colone1 -->
            <th>Pseudo</th>
            <!-- colone2 -->
            <th>Email</th>
            <!-- colone3 -->
            <th>Edit</th>
          </tr>
        </thead>
        <!-- body du tableau -->
        <tbody>
          <!-- affiche la liste des user -->
          {% for list in listUser %}
          <tr>
            <!-- colone1 -->
            <td>&nbsp{{ list.username }}</td>
            <!-- colone2 -->
            <td>&nbsp{{ list.email }}&nbsp</td>
            <!-- colone3 -->
            {% if list.locked == 0 %}
            <!-- ban -->
            <td><a class="btn btn-danger" href="user?userid={{ list.id }}" role="button">Ban</a></td>
            {% else %}
            <!-- deban -->
            <td><a class="btn btn-success" href="user?useriddeb={{ list.id }}" role="button">UnBan</a></td>
            {% endif %}
          </tr>
          {% endfor %}
          <!-- fin du body du tableau -->
        </tbody>
        <!-- fin du tableau -->
      </table>


    </p>
  </div>
  <!-- footer -->
  {{ include("appliwebBundle:Advert:footer.html.twig") }}
</body>
</html>
