
<div class="container">
  <div class="fos_user_user_show">
    <h1>Welcome {{ user.username|upper }} !</h1>
    <br>
    <p><B>Account information :</B></p>
    <p>Username : {{ user.username }}</p>
    <p>Email : {{ user.email }}</p>
    <p>Last login : {{ user.lastlogin|date('d-m-Y') }}</p>
    <br>
    <p><B>what do you want ?</B></p>
    <br>
    <p>Change password :</p>
    <a href="{{ path("fos_user_change_password") }}"><button class="btn btn-lg btn-primary btn-block" id="profile" role="button">Change password</button></a>
    <br>
    <p>Change Username or Email</p>
    <br>
    <a href="{{ path("fos_user_profile_edit") }}"><button class="btn btn-lg btn-primary btn-block" id="profile" role="button">Change Username</button></a>
  </div>
</div>
