{# src/appiwebBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="{{ asset('Assets/css/bootstrap.css') }}" />
	    <link rel="stylesheet" href="{{ asset('Assets/css/style.css') }}" />
        <title>Food</title>
        {{ include("appliwebBundle:Advert:layout.html.twig") }}
        {{ include("appliwebBundle:Advert:fancybox.html.twig") }}
    </head>
    <body>
    <div class="container">
	  <br>
	  <br>
	  <br>
        <table class="table table-bordered table-striped table-condensed">
           <thead>
               <tr>
                   <th>Image</th>
                   <th>Nom</th>
                  <th>Description</th>
                   <th>Quantity</th>
                   <th>Price</th>
                   </tr>
           </thead>
           <tbody>
           {% for list in listFood %}
             <tr>
             <td>&nbsp<a class="fancybox" href="Assets/Image/{{ list.name }}.png" data-fancybox-group="gallery" title="{{ list.name }}"><img src="Assets/Image/{{ list.name }}.png" alt="{{ list.name }}" style="width:62px;height:45px;"/></a>&nbsp</td>
             <td>&nbsp{{ list.name }}</td>
             <td>&nbsp{{ list.description }}&nbsp</td>
             <td>&nbsp{{ list.quantity }}&nbsp</td>
             <td>&nbsp<img src="Assets/Image/{{ list.price }}G.png" alt="{{ list.price }}" style="width:20px;height:12px;">&nbsp</td>
             </tr>
           {% endfor %}
           </tbody>
         </table>

        <p>

        </p>
        </div>
        {{ include("appliwebBundle:Advert:footer.html.twig") }}
    </body>
</html>
