{# src/appiwebBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <!-- titre de la page -->
  <title>Food</title>
  <!-- menu -->
  {{ include("appliwebBundle:Advert:layout.html.twig") }}

</head>
<body>
  <!-- container -->
  <div class="container">
    <p>
      <!-- tableau -->
      <table class="table table-bordered table-striped table-condensed">
        <!-- en tete -->
        <thead>
          <tr>
            <!-- colone1 -->
            <th>Image</th>
            <!-- colone2 -->
            <th>Nom</th>
            <!-- colone3 -->
            <th>Description</th>
            <!-- colone4 -->
            <th>Quantity</th>
            <!-- colone5 -->
            <th>Price</th>
          </tr>
        </thead>
        <!-- debut du body du tableau -->
        <tbody>
          <!-- parcourt de la liste pour afficher les foods -->
          {% for list in listFood %}
          <tr>
            <!-- colone1 -->
            <td>&nbsp<a class="fancybox" href="Assets/Image/{{ list.name }}.png" data-fancybox-group="gallery" title="{{ list.name }}"><img src="Assets/Image/{{ list.name }}.png" alt="{{ list.name }}" style="width:62px;height:45px;"/></a>&nbsp</td>
            <!-- colone2 -->
            <td>&nbsp{{ list.name }}</td>
            <!-- colone3 -->
            <td>&nbsp{{ list.description }}&nbsp</td>
            <!-- colone4 -->
            <td>&nbsp{{ list.quantity }}&nbsp</td>
            <!-- colone5 -->
            <td>&nbsp<img src="Assets/Image/{{ list.price }}G.png" alt="{{ list.price }}" style="width:20px;height:12px;">&nbsp</td>
          </tr>
          {% endfor %}
          <!-- fin du body du tableau -->
        </tbody>
        <!-- fin du tableau -->
      </table>
    </p>
  </div>
  <!-- footer -->
  {{ include("appliwebBundle:Advert:footer.html.twig") }}
</body>
</html>
